{% extends 'base.html' %}

{% block content %}

<h2 class="bg-success m-2 text-center p-2">Edit Student Information</h2>

{% if messages %}
    
    {% for update_message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ update_message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
    {% endfor %}

    {% endif %}

<form action="" method="POST">
<div class="container">
    {% csrf_token %}
    <label>First Name:</label>
    <input class="form-control w-25 mb-2" type="text" name="first_name" value="{{edit_student.first_name}}">

    <label>Last Name:</label>
    <input class="form-control w-25 mb-2" type="text" name="last_name"  value="{{edit_student.last_name}}">
    
    <label>Email:</label>
    <input class="form-control w-25 mb-2" type="email" name="email"  value="{{edit_student.email}}">
    
    <label>Phone:</label>
    <input class="form-control w-25 mb-2" type="number" name="phone"  value="{{edit_student.phone}}">
    
    <label>Address:</label>
    <br>
    <textarea class="form-control w-25 mb-2" name="address" cols="30" rows="10"> {{edit_student.address}}</textarea>
    
    <label>Courses Applied For:</label>
    <input class="form-control w-25 mb-3" type="text" name="course"  value="{{edit_student.course}}">
    
    <input class="btn btn-primary px-5 mb-5" type="submit" value="Update">
</div>
    
</form>

{% endblock %}