{% extends 'base.html' %}

{% block content %}

<h1 class="bg-success text-center m-3 p-2">Student Information</h1>
{% if messages %}
    
    {% for delete_message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ delete_message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
    {% endfor %}

    {% endif %}
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Operation</th>
    </tr>
    {% for student in view_student %}
    <tr>
        <td>{{ student.id }}</td>
        <td>{{ student.first_name }} {{ student.last_name }}</td>
        <td> <a class="btn btn-success" href="{% url 'student:studentDetails' student_id=student.id %}">Profile</a>
        <a class="btn btn-primary" href="{% url 'student:editStudent' student_id=student.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'student:deleteStudent' student_id=student.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}