{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="details">
    <div class="row ">
        <div class="col-6 one">
            <h3>Full Name:</h3>
            <h3>Email:</h3>
            <h3>Phone:</h3>
            <h3>Address:</h3>
            <h3 class="course">Course:</h3>
        </div>
        <div class="col-6 two">
            <h3>{{student_details.first_name}} {{student_details.last_name}}</h3>
            <h3>{{student_details.email}}</h3>
            <h3>{{student_details.phone}}</h3>
            <h3>{{student_details.address}}</h3>
            <h3 class="course">{{student_details.course}}</h3>
        </div>
    </div>
</div>

{% endblock %}